{% renderTemplate "md" %}

מדיניות הפרטיות של האתר כתובה באנגלית וניתן למצוא את מלואה להלן.

ניתן לראות גירסה מתורגמת לעברית באמצעות שירות התרגום של גוגל - Google Translate. 

[לחץ כאן](https://www-iubenda-com.translate.goog/privacy-policy/20857231/legal?_x_tr_sl=en&_x_tr_tl=iw&_x_tr_hl=en-US&_x_tr_pto=wapp).

{% endrenderTemplate %}