{% if locales[page.lang].dir === "ltr" %}
{% set previousPostInOrder = collections.posts | getPreviousCollectionItem %}
{% set nextPostInOrder = collections.posts | getNextCollectionItem %}
{% else %}
{% set previousPostInOrder = collections.posts | getNextCollectionItem %}
{% set nextPostInOrder = collections.posts | getPreviousCollectionItem %}
{% endif %}
{% if previousPostInOrder or nextPostInOrder %}
<div class="container mx-auto text-center max-w-md mt-12">
    <div class="btn-group grid grid-cols-2">
        {% if previousPostInOrder.url %}
        <a id="olderPostButton" class="btn btn-outline" href="{{ previousPostInOrder.url }}">{{ 'Older Post' | i18n }}</a>
        {% endif %}
        {% if nextPostInOrder.url %}
        <a id="newerPostButton" class="btn btn-outline" href="{{ nextPostInOrder.url }}">{{ 'Newer Post' | i18n }}</a>
        {% endif %}
    </div>
</div>
{% endif %}