{% if locales[page.lang].dir === "ltr" %}
{% set previousPostInOrder = collections.posts | getPreviousCollectionItem %}
{% set nextPostInOrder = collections.posts | getNextCollectionItem %}
{% else %}
{% set previousPostInOrder = collections.posts | getNextCollectionItem %}
{% set nextPostInOrder = collections.posts | getPreviousCollectionItem %}
{% endif %}
{% if previousPostInOrder or nextPostInOrder %}
<div class="container mx-auto text-center max-w-md mt-12">
    <div class="btn-group grid grid-cols-2">
        {% set prevClass = "" %}
        {% set nextClass = "" %}
        {% if not previousPostInOrder.url %}{% set prevClass = "invisible" %}{% endif %}
        {% if not nextPostInOrder.url %}{% set nextClass = "invisible" %}{% endif %}
        <a id="olderPostButton" class="btn btn-outline {{ prevClass }}" href="{{ previousPostInOrder.url }}">{{ 'Older Post' | i18n }}</a>
        <a id="newerPostButton" class="btn btn-outline {{ nextClass }}" href="{{ nextPostInOrder.url }}">{{ 'Newer Post' | i18n }}</a>
    </div>
</div>
{% endif %}