---
layout: "layouts/base.njk"
---

<section>
    <div class="container mx-auto text-center">
        <h1 class="text-3xl font-bold leading-normal mb-3">
            {{ title | i18n }}
        </h1>
        <div class="flex flex-auto justify-center">
            <figure class="relative w-64">
                <div class="avatar">
                    <div class="rounded">
                        <img src=" {{ '/assets/img/andrii-leonov-P5nZwlbTngI-unsplash.jpg'| url }} " alt="This post thumbnail"/>
                    </div>
                    {% set photoByi18n = 'Photo by' | i18n  %}
                    {% if page.lang == 'he' %} {% set oni18n = 'באמצעות' %} {% else %} {% set oni18n = 'on' %} {% endif %}
                    {% set dir = locales[page.lang].dir %}
                    {% photoCredit photoByi18n, oni18n, 'Andrii Leonov', false, dir %}
                </div>
            </figure>
        </div>
        <h2 class="text-2xl italic mt-3">
            {{ about_name }}
        </h2>
        <div dir="ltr" class="text-xl leading-relaxed">
            <p>{{ email }}</p>
            <p>{{ phone }}</p>
        </div>
        <div class="text-lg leading-relaxed lg:px-48 md:px-20 sm:px-12 px-6 py-4">
            <p>Facilisis gravida neque convallis a cras semper auctor neque. Pharetra sit amet aliquam id diam maecenas ultricies mi
                eget. Pharetra et ultrices neque ornare aenean euismod elementum nisi quis. Pulvinar sapien et ligula ullamcorper. Mi
                eget mauris pharetra et. Morbi tristique senectus et netus et malesuada. Elementum curabitur vitae nunc sed velit
                dignissim sodales ut. Adipiscing commodo elit at imperdiet dui accumsan. Scelerisque in dictum non consectetur a erat
                nam at. Quis commodo odio aenean sed adipiscing diam donec</p>
        </div>
    </div>
</section>