<!DOCTYPE html>
<html lang="{{ page.lang | default("en-GB", true) }}" dir="{{ locales[page.lang].dir | default("ltr", true) }}" data-theme="corporate">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if title %}{{ title }} | {% endif %}{{ site.name }} - {{ site.subtitle }}</title>
        <meta name="title" content="{% if title %}{{ title }} | {% endif %}{{ site.name }} - {{ site.subtitle }}">
        <meta name="description" content="{% if subtitle %}{{ subtitle }}{% else %}{{ site.description }}{% endif %}">
        <meta name="keywords" content="{% if tags %}{{ tags }}{% else %}{{ site.keywords }}{% endif %}{% if keywords %}{% if tags %},{% else %}{% endif %}{{ keywords }}{% endif %}">
        <meta name="site_name" content="{{ site.name }} - {{ site.subtitle }}">
        {% if (env.customUrlMode == false) or (env.devMode == true) %}{% set pathPrefix = site.sitePath %}{% else %}{% set pathPrefix = '' %}{% endif %}
        {% set canonicalPath = (site.siteUrl + "/" + pathPrefix + "/" + page.url) | removeDuplicateForwardSlashes %}
        <meta name="canonical" content="{{ canonicalPath }}">
        {% if no_index or no_follow %}
        <meta name="robots" content="{% if no_index %}noindex{% endif %}, {% if no_index %}no_follow{% endif %}">
        {% else %}
        <meta name="robots" content="index, follow">
        {% endif %}

        <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <link href="/assets/css/output.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/custom.css" rel="stylesheet"  type="text/css">
        <link href="/assets/css/klaro.css" rel="stylesheet"  type="text/css">
        {% include "partials/analytics.njk" %}
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script type="module" src="/assets/js/blog_custom.js"></script>
        <script type="text/javascript" src="/assets/js/klaro.js"></script>
        <script type="text/javascript" src="/assets/js/klaro_cfg.js"></script>
    </head>
    {% include "partials/site-header.njk" %}    
    <body class="text-base">
        <main class="py-6 px-3 lg:px-0">
            {% block content %}
                {{ content | safe }}
            {% endblock %}
        </main>
        <link href='https://fonts.googleapis.com/css2?family=Alef&display=swap' rel='stylesheet' type='text/css'>
    </body>
    {% include "partials/site-footer.njk" %}
</html>