<!DOCTYPE html>
<html lang="{{ page.lang | default("en-GB", true) }}" dir="{{ locales[page.lang].dir | default("ltr", true) }}" data-theme="corporate">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ site.name }}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="{{'/assets/favicon/apple-touch-icon.png' | url}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{'/assets/favicon/favicon-32x32.png' | url}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{'/assets/favicon/favicon-16x16.png' | url}}">
        <link rel="manifest" href="{{'/assets/favicon/site.webmanifest' | url }}">
        <link rel="mask-icon" href="{{'/assets/favicon/safari-pinned-tab.svg' | url }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        {# <link href='https://fonts.googleapis.com/css2?family=Poppins&display=swap' rel='stylesheet' type='text/css'> #}
        <link href="{{ '/assets/css/custom.css' | url }}" rel="stylesheet"  type="text/css">
        <link href="{{ '/assets/css/output.css' | url }}" rel="stylesheet" type="text/css">
        
        {# <script src="https://cdn.tailwindcss.com"></script> #}
        {# <link href="https://cdn.jsdelivr.net/npm/daisyui@2.50.0/dist/full.css" rel="stylesheet" type="text/css"/> #}
        {# <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script> #}
        <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
    </head>
    {% include "partials/site-header.njk" %}
    <main id="main-content" role="main" tabindex="-1">
        <body class="">
            <div class="py-6">
                {% block content %}
                    {{ content | safe }}
                {% endblock %}
            </div>
        </body>
    </main>
    {% include "partials/site-footer.njk" %}
</html>