---
layout: "layouts/base.njk"
---

<section class="relative">
    <article class="container mx-auto">
        <div class="flex justify-center">
            <div name="main_text" class="text-center">
                <div class="prose lg:prose-lg prose-base lg:prose-h1:text-5xl prose-h1:text-4xl">
                    <span id="post_heading">
                        {% include "partials/blog_post/post-heading.njk" %}
                    </span>
                    {% include "partials/toc.njk" %}
                    {% include "partials/series-ref.njk" %}
                    <div id="content" class="prose-lg">
                        {{ content | safe }}
                    </div>
                    {% include "partials/blog_post/back-to-top-button.njk" %}
                </div>
                {% include "partials/blog_post/prev-next-buttons.njk" %}
            </div>        
        </div>
        {% if site.disqusEnabled %}
            {# <hr/> #}
            <div class="divider"></div>
            <div name="comments">
                {% include "partials/disqus.njk" %}
            </div>
        {% endif %}
    </article>
</section>