---
layout: "layouts/base.njk"
pagination:
  data: collections.posts
  size: 4
  alias: blogPosts
---

<div class="container mx-auto py-6 px-6 lg:px-24">
    {% include "partials/posts-grid.njk" %}
    <div class="container mx-auto text-center mt-12"> 
        {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}">{{ 'Previous Page' | i18n }}</a>
        {% endif %}
        {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}">{{ 'Next Page' | i18n }}</a>
        {% endif %}
    </div>
</div>