---
layout: "layouts/base.njk"
---

<div class="relative">
    <div class="container mx-auto">
        <div class="flex justify-center">
            <article name="main_text">
                <div class="prose lg:prose-lg prose-base lg:prose-h1:text-5xl prose-h1:text-4xl">
                    <span id="post_heading" class="text-center">
                        {% include "partials/blog_post/post-heading.njk" %}
                    </span>
                    {% include "partials/blog_post/toc.njk" %}
                    {% include "partials/blog_post/series-ref.njk" %}
                    <section class="leading-relaxed" id="content" x-bind:class="getFontClass()">
                        {{ content | safe }}
                    </section>
                    {% include "partials/blog_post/back-to-top-button.njk" %}
                </div>
                {% include "partials/blog_post/prev-next-buttons.njk" %}
                {% if site.disqusEnabled %}
                    <div class="container mx-auto text-center mt-12">
                        <div class="flex flex-col">
                            <div class="divider"></div>
                            <div class="flex justify-center ">
                                <div name="comments" class="prose basis-full">
                                    {% include "partials/disqus.njk" %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </article>
        </div>
    </div>
</div>