---
layout: "base.njk"
pagination:
  data: collections.posts
  size: 6
  alias: blogPosts
---

<div class="container mx-auto text-center">
    <h1 class="text-3xl font-bold leading-normal">
        {{ title | i18n }}
    </h1>
</div>
{% include "partials/paginated-posts-grid.njk" %}