---
layout: "layouts/base.njk"
---

<div class="container mx-auto px-6 lg:px-24">
    <div class="flex flex-col h-96">
        <div class="hero h-full" style="background-image: url({{ 'assets/img/IMG_20161116_120615_3.jpg' | url }});">
            <div class="hero-overlay bg-opacity-50"></div>
        </div>
    </div>
    <div class="mt-6 px-6">
        <div class="text-center">
            <h1 class="text-2xl">
                {{ main_heading }}
            </h1>
            <h2 class="text-lg mt-6">
                {{ secondary_heading }}
            </h2>
        </div>
        <hr class="mt-3"/>
    </div>
</div>