---
layout: "layouts/base.njk"
---

<div class="container mx-auto py-6 px-6 lg:px-24">
    <div class="hero h-screen" style="background-image: url({{ 'assets/img/IMG_20161116_120615_3.jpg' | url }});">
        <div class="hero-overlay bg-opacity-50"></div>
        <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md">
                <h1 class="mb-5 text-5xl font-bold">Welcome to our blog</h1>
                <p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
                {# <button class="btn btn-primary">Get Started</button> #}
            </div>
        </div>
    </div>
    {# <div class="flex flex-auto justify-center">
            <div class="bg-indigo-900">
                {% headImage "src/assets/img/IMG_20161116_120615_2.jpg", "Head photo - beach in the phillipines", "(max-width: 600px) 600px, 1200px", "opacity-80 bg-blend-normal" %}
            </div>
        </div> #}
    {# <img src=" {{ '/assets/img/IMG_20161116_120615_2.jpg'| url }} " alt="Head photo - beach in the phillipines"/> #}
</div>