---
layout: layouts/default.njk
permalink: false
---

<div class="container mx-auto px-6 lg:px-24">
    {% include "partials/home-heading.njk" %}
    {% if content %}
    <hr class="mt-3"/>
    {% endif %}
    {{ content | safe }}
    <hr class="mt-3"/>
    {% set blogPosts = collections.posts | getTop(3) %}
    {% include "partials/posts-grid.njk" %}
</div>