---
layout: "layouts/base.njk"
title: Privacy Policy
eleventyExcludeFromCollections: true
---

<section>
    <div class="container mx-auto">
        <h1 class="text-3xl font-bold leading-normal mb-3 text-center">
            {{ title | i18n }}
        </h1>
        <div class="mx-auto prose">
            {% set partId = "privacy-policy-ltr" %}
            {% if locales[page.lang].dir === "rtl" %}{% set partId = "privacy-policy-rtl" %}{% endif %}
            <div id="{{ partId }}" class="">
                {% if locales[page.lang].dir === "rtl" %}
                    <div dir="rtl">
                    {% renderFile "src/_includes/partials/privacy/privacy_policy_rtl.njk" %}
                    </div>
                {% else %}
                    <div dir="ltr">
                    <a href="https://www.iubenda.com/privacy-policy/20857231" class="iubenda-nostyle no-brand iubenda-noiframe iubenda-embed iub-legal-only iub-no-markup iubenda-noiframe iub-body-embed" title="Privacy Policy">Privacy Policy</a>
                    <script type="text/plain" data-type="application/javascript" data-name="iubenda">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
                    </div>
                {% endif %}
            </div>
            <div class="divider"></div>
            {% set partId = "privacy-policy-rtl" %}
            {% if locales[page.lang].dir === "rtl" %}{% set partId = "privacy-policy-ltr" %}{% endif %}            
            <div id="{{ partId }}" class="">
                {% if locales[page.lang].dir === "rtl" %}
                    <div dir="ltr">
                    <a href="https://www.iubenda.com/privacy-policy/20857231" class="iubenda-nostyle no-brand iubenda-noiframe iubenda-embed iub-legal-only iub-no-markup iubenda-noiframe iub-body-embed" title="Privacy Policy">Privacy Policy</a>
                    <script type="text/plain" data-type="application/javascript" data-name="iubenda">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
                    </div>
                {% else %}
                    <div dir="rtl">
                    {% renderFile "src/_includes/partials/privacy/privacy_policy_rtl.njk" %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>