---
layout: "base.njk"
---

<div class="container mx-auto text-center">
    <h1 class="text-3xl font-bold leading-normal">
        {{ title | i18n }}
    </h1>
    <div class="container mx-auto py-6 px-6 lg:px-24">
        <div class="flex flex-wrap justify-center gap-4">
            {% for tag in collections.tags %}
                {% set tagUrl = tag | i18n | slugify %}
                {% set blogPostsByTag = collections.posts | getPostsByTag(tag) %}
                <a href="{{ tagUrl }}" class="badge badge-xl hover:badge-primary">
                    {{ tag }}
                    {# <span class="ml-2 opacity-75">{{ tagUrl }}</span> #}
                    <span class="ml-2 opacity-75">({{ blogPostsByTag.length }})</span>
                </a>
            {% endfor %}
        </div>
    </div>
</div>