---
title: Post 5
subtitle: Post 5 Tristique et egestas quis ipsum suspendisse. Non arcu risus quis varius quam quisque id. Ac felis donec et odio pellentesque
publish_date: 2022-01-01T10:00
tags: post
layout: "layouts/blogpost.njk"
---

<article class="container mx-auto py-6 px-24 bg-base-500">
    <div class="mb-14">
        <h1 class="text-3xl text-center font-bold leading-normal text-gray-900 mt-0 mb-3">
            גנט - בלגיה - 2022
        </h1>
        <div class="text-center">Published on 24 December 2022 12:00 AM</div>
        <div class="mt-3 text-center">
            <span class="badge">#בלגיה</span>
        </div>
        <div class="mt-10 -mx-7 md:mx-0">
            <img
                class="w-full max-w-2xl mx-auto"
                src="/src/img/IMG_20221209_103718.jpg"
                width="960"
                height="500"
                alt="This post thumbnail"></div>
        </div>
        <div id="content" class="prose text-gray-800 max-w-none">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Sit amet justo donec enim diam vulputate ut pharetra sit. Neque volutpat ac tincidunt vitae semper quis.
                Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada. Diam vulputate ut pharetra sit. Laoreet sit amet cursus
                sit amet dictum sit. Tincidunt ornare massa eget egestas purus viverra accumsan in. Sed faucibus turpis in eu. Elit eget
                gravida cum sociis natoque. Purus in mollis nunc sed id semper risus in hendrerit. Quis imperdiet massa tincidunt nunc
                pulvinar. Ullamcorper sit amet risus nullam eget felis eget nunc. Et netus et malesuada fames ac turpis egestas sed.
            </p>
            <p>
                Nunc pulvinar sapien et ligula ullamcorper malesuada. Commodo elit at imperdiet dui. Iaculis at erat pellentesque
                adipiscing commodo elit. Eget duis at tellus at urna condimentum mattis pellentesque. Amet nisl suscipit adipiscing
                bibendum est. Enim tortor at auctor urna nunc id cursus metus aliquam. Pharetra diam sit amet nisl suscipit adipiscing.
                Eget est lorem ipsum dolor sit amet consectetur adipiscing elit. Tristique et egestas quis ipsum suspendisse. Non arcu
                risus quis varius quam quisque id. Ac felis donec et odio pellentesque.
            </p>
        </div>
    </div>
</article>