---
layout: "layouts/base.njk"
title: About
about_name: John Doe
email: ig@mymail.com
phone: +972-50-98765432
---

<section>
    <div class="container mx-auto text-center">
        <h1 class="text-3xl font-bold leading-normal mb-3">
            {{ title }}
        </h1>
        <div class="avatar container place-content-center">
            <div class="w-64 rounded">
                <img src=" {{'/assets/img/andrii-leonov-P5nZwlbTngI-unsplash.jpg'| url }} " alt="This post thumbnail"/>
            </div>
        </div>
        <h2 class="text-2xl leading-relaxed text-gray-800 italic mt-3">
            {{ about_name }}
        </h2>
        <div class="text-xl leading-relaxed text-gray-600">
            <p>{{ email }}</p>
            <p>{{ phone }}</p>
        </div>
        <div class="text-lg lg:px-48 md:px-20 sm:px-12 px-6 py-4">
            <p>Facilisis gravida neque convallis a cras semper auctor neque. Pharetra sit amet aliquam id diam maecenas ultricies mi
                eget. Pharetra et ultrices neque ornare aenean euismod elementum nisi quis. Pulvinar sapien et ligula ullamcorper. Mi
                eget mauris pharetra et. Morbi tristique senectus et netus et malesuada. Elementum curabitur vitae nunc sed velit
                dignissim sodales ut. Adipiscing commodo elit at imperdiet dui accumsan. Scelerisque in dictum non consectetur a erat
                nam at. Quis commodo odio aenean sed adipiscing diam donec</p>
        </div>
    </section>