---
layout: "layouts/base.njk"
title: Contact Us
---

<section>
    <div class="container mx-auto text-center">
        <h1 class="text-3xl font-bold leading-normal mb-3">
            {{ title }}
        </h1>
        <div class="container mx-auto max-w-3xl px-6">
            <form class="grid justify-items-center grid-rows-5 grid-flow-col">
                <div class="form-control w-full max-w-md">
                    <label class="label">
                        <span class="label-text font-semibold">What is your name?</span>
                    </label>
                    <input type="text" placeholder="John Doe" class="input input-bordered input-md w-full max-w-md rounded bg-neutral-100" required/>
                </div>
                <div class="form-control w-full max-w-md">
                    <label class="label">
                        <span class="label-text font-semibold">What is your email address?</span>
                    </label>
                    <input 
                        type="text"
                        placeholder="mail@mymail.com"
                        class="input input-bordered input-md w-full max-w-md rounded bg-neutral-100" required/>
                </div>
                <div class="form-control w-full max-w-md">
                    <label class="label">
                        <span class="label-text font-semibold">Subject</span>
                    </label>
                    <input
                        type="text"
                        placeholder="Fill up the subject"
                        class="input input-bordered input-md w-full max-w-md rounded bg-neutral-100" required/>
                </div>
                <div class="form-control w-full max-w-md">
                    <label class="label">
                        <span class="label-text font-semibold">You Message</span>
                    </label>
                    <textarea
                        class="textarea textarea-bordered textarea-lg w-full max-w-md rounded bg-neutral-100"
                        placeholder="Leave a message..."></textarea>
                </div>
                <div class="container mx-auto max-w-md">
                    <div class="float-left">
                        <button class="btn mt-6 btn-outline" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </section>