---
title: Tisot
layout: "layouts/base.njk"
---

<div class="container mx-auto py-6 px-24 bg-base-500">
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-6">
        {% for post in collections.posts %}
            <div class="card rounded-md max-w-xl shadow-md">
                <figure class="relative">
                    <a href="{{ post.url | url }}">
                        <img class="" src="{{'assets/img/tangerine-chan-cjcD8rFvGHc-unsplash_resized.jpg'| url }}" alt="Bridge in China"/>
                    </a>
                    <p class="text-xs absolute bottom-0 left-0 px-1 py-1 text-neutral-50 bg-slate-500 mix-blend-normal opacity-80">
                        Photo by
                        <a href="https://unsplash.com/@tangerine0206?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
                        Tangerine Chan</a>
                        on
                        <a href="https://unsplash.com/photos/cjcD8rFvGHc?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
                        Unsplash</a>
                    </p>
                </figure>
                <div class="card-body">
                    <h2 class="card-title">
                        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
                    </h2>
                    <p>
                        {{ post.data.subtitle }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>