---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
{% if (env.devMode == false and site.productionMode == true) %}
User-agent: *
Allow: /
Disallow: /admin/
Disallow: /search-index/
Disallow: /privacy-policy/

Host: {{ site.siteUrl | url }}

Sitemap: {{ site.siteUrl + '/sitemap.xml' | url }}
{% endif %}