---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
{% if (env.devMode == false and site.productionMode == true) %}
user-agent: *
allow: /
disallow: /admin/
disallow: /search-index/
disallow: /privacy-policy/

host: {{ site.siteUrl | url }}

sitemap: {{ site.siteUrl + 'sitemap.xml' | url }}
{% endif %}