---
title: Search
layout: "layouts/default_with_header.njk"
permalink: /search/index.html
no_index: true
no_follow: true
---

<div class="flex flex-col min-h-screen">
    <div class="mt-12 grow ">
        <div>
            <div class="flex justify-center">
                <div class="form-control w-full max-w-xs items-center">
                    <input id="searchInputTextBox" type="text" placeholder="{{ "Enter search term" | i18n }}" x-on:input.keydown="getItems($event.target.value)" class="input input-bordered w-full max-w-xs hidden"/>
                    <span id="searchInputLoadingSpinner" class="loading loading-spinner loading-lg"></span>
                </div>
            </div>
            <div id="search_results" class="flex justify-center mt-6">
                <div class="lg:w-6/12">
                    <ul id="search_results_ul" class="space-y-1.5 leading-loose"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/assets/js/lunr_2.3.9.min.js"></script>
<script type="text/javascript" src="/assets/js/lunr.stemmer.support.min.js"></script>
<script type="text/javascript" src="/assets/js/lunr.he.min.js"></script>
<script async="async" src="/assets/js/search.js"></script>