---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
{# {% if (env.devMode == false and site.productionMode == true) %} #}
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">{% for page in collections.all %}{% if (page.url !== '/admin/myadmin/' and page.data.removeFromSitemap !== true) %}
    <url>{% if (env.customUrlMode == false) or (env.devMode == true) %}{% set pathPrefix = site.sitePath %}{% else %}{% set pathPrefix = '' %}{% endif %}{% set fullPath = pathPrefix + page.url %}
        <loc>{{ site.siteUrl + fullPath | url }}</loc>
        <lastmod>{{ page.date | formattedDate2 }}</lastmod>
    </url>{% endif %}{% endfor %}
</urlset>
{# {% endif %} #}