<div class="flex flex-col h-96">
    {# <div class="hero h-full" style="background-image: url({{ main_image | url }});">
        <div class="hero-overlay bg-opacity-50"></div>
    </div> #}

    <div class="hero h-full" style="background-image: url({{ main_image | url }});">
        <div class="hero-overlay bg-opacity-70"></div>
        <div class="hero-content text-center text-neutral-content max-h-96">
            <div class="max-w-md max-h-96">
                <h1 class="mb-5 lg:text-3xl text-2xl font-bold">{{ main_heading }}</h1>
                <p class="mb-5 lg:text-2xl text-lg">{{ secondary_heading }}</p>
            </div>
        </div>
    </div>
</div>