<div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-6">
    {% for post in blogPosts %}
        <div class="card rounded-md my-1 md:my-2 shadow-md">
            <figure class="relative aspect-[3/2]">
                <a href="{{ post.url }}">
                    {% grid_image post.data.thumbnail, post.data.title %}
                </a>
                {% if post.data.thumbnail_show_caption %}
                    {% set dir = locales[page.lang].dir %}
                    {% if post.data.thumbnail_caption_text %}
                        {% photoCaption post.data.thumbnail_caption_text, true, dir %}
                    {% else %}
                        {% set photoByi18n = 'Photo by' | i18n %}
                        {% if page.lang == 'he' %}{% set oni18n = 'באמצעות' %}{% else %}{% set oni18n = 'on' %}{% endif %}
                        {% photoCredit photoByi18n, oni18n, 'Tangerine Chan', true, dir %}
                    {% endif %}
                {% endif %}
            </figure>
            <div class="card-body bg-base-200">
                <h2 class="card-title">
                    <a href="{{ post.url }}">{{ post.data.title }}</a>
                </h2>
                <p class="lg:text-lg"> {{ post.data.publish_date | formattedDate }}</p>
                <p class="lg:text-lg"> {{ post.data.subtitle }} </p>
            </div>
        </div>
    {% endfor %}
</div>