<footer class="footer footer-center p-4 bg-base-300 text-base">
    <div class="leading-tight">
        <div class="font-bold tracking-wide">{{ site.footer.BuiltBy | i18n }}.</div>
        <div class="font-bold tracking-wide" dir="ltr">Built by Ido Gal, 2023.</div>
        <a dir="ltr" class="footerlink font-normal tracking-normal" href="{{ site.footer.repoUrl }}">Based on the GitLab repo 'IdoG-Blog-DaisyUI'</a>
        <br>
        <a class="" target="_blank" href="mailto:idogaltech@gmail.com">idogaltech@gmail.com</a>        
    </div>
</footer>