<header role="banner" class="sticky top-0 z-50">
    <div class="navbar bg-base-300">
        <div class="navbar-start md:px-32 sm:px-2">
            <div class="dropdown">
                <label tabindex="0" class="btn btn-ghost lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-16 6h16"/>
                    </svg>
                </label>
                <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                    {% for item in navigation.items %}
                        <li>
                            <a href="{{ item.url | url }}">{{ item.text }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <a class="btn btn-ghost normal-case font-semibold antialiased font-serif text-xl">{{ site.name }}</a>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                {% for item in navigation.items %}
                    <li>
                        <a href="{{ item.url | url }}">{{ item.text }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="navbar-end md:px-32 sm:px-2">
            <div class="hidden">
                <div class="hidden lg:flex flex-auto flex-row justify-end gap-2">
                    <div class="form-control">
                        <input type="text" placeholder="Search" class="input rounded"/>
                    </div>
                    <select class="select select-bordered">
                        <option disabled selected>Language</option>
                        <option>English</option>
                        <option>עברית</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</header>