<footer class="footer footer-center p-4 bg-base-300 text-base-content">
    <div>
        <p>Copyright © 2023 - All right reserved to Ido Gal.</p>
        <p>Built by Ido Gal using <a href="https://www.11ty.dev/">Eleventy</a>, <a href="https://tailwindcss.com/">Tailwind CSS</a> and <a href="https://daisyui.com/">daisyUI</a>. <br>
        Using the <a href="https://formsubmit.co/">FormSubmit</a> forms endpoint.</p>
    </div>
</footer>