<header class="sticky top-0 z-50">
    <div class="navbar bg-base-300">
        <div class="navbar-start md:px-32 sm:px-2">
            <div class="dropdown">
                <label tabindex="0" class="btn btn-ghost lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-16 6h16"/>
                    </svg>
                    <span class="hidden">Dropdown menu button</span>
                </label>
                <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-200 rounded-box w-52">
                    {% for item in navigation.items %}
                        <li>
                            <a href="{{ item.url }}">{{ item.text | i18n }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <a class="mx-4 no-animation normal-case font-semibold antialiased font-serif text-xl" href="{{ '/' }}">{{ site.name | i18n }}</a>
        </div>
        <nav class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                {% for item in navigation.items %}
                    <li>
                        <a class="text-lg" href="{{ item.url }}">{{ item.text | i18n }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <div class="navbar-end md:px-32 px-6">
            <div class="flex flex-auto flex-row justify-end gap-4">
                <label class="swap swap-rotate">
                    <input
                        class="invisible"
                        type="checkbox"
                        id="checkbox"
                        data-toggle-theme="business,corporate"
                        data-act-class="ACTIVECLASS"/>
                    <span class="hidden">Change colour schema icon</span>
                    <svg
                        class="swap-on w-6 h-6"
                        stroke="currentColor"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        aria-labelledby="sunIconTitle">
                        <title id="sunIconTitle">Sun</title>
                        <circle stroke-width="2" cx="12" cy="12" r="4"></circle>
                        <path
                            stroke-width="1.5"
                            fill="none"
                            d="M12 5L12 3M12 21L12 19M5 12L2 12 5 12zM22 12L19 12 22 12zM16.9497475 7.05025253L19.0710678 4.92893219 16.9497475
                                7.05025253zM4.92893219 19.0710678L7.05025253 16.9497475 4.92893219 19.0710678zM16.9497475 16.9497475L19.0710678
                                19.0710678 16.9497475 16.9497475zM4.92893219 4.92893219L7.05025253 7.05025253 4.92893219 4.92893219z"></path>
                    </svg>
                    <svg
                        class="swap-off fill-current w-6 h-6"
                        xmlns="http://www.w3.org/2000/svg"
                        stroke="currentColor"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        aria-labelledby="moonIconTitle">
                        <title id="moonIconTitle">Moon</title>
                        <path                            
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M10.423839,3 C10.1490474,3.80837289 10,4.67486099 10,5.57616098 C10,9.99443898 13.581722,13.576161 18,13.576161
                                C18.9013,13.576161 19.7677881,13.4271135 20.576161,13.152322 C19.5038921,16.3066875 16.516978,18.576161 13,18.576161
                                C8.581722,18.576161 5,14.994439 5,10.576161 C5,7.05918297 7.26947343,4.07226889 10.423839,3 Z"></path>
                    </svg>
                </label>
                <span class="flex justify-center items-center lg:hidden">
                    {% for item in navigation.items %}
                        {% if (item.text === 'Search' or item.text === 'search') %}
                            <a href="{{ item.url }}">
                                <svg
                                    class="h-6 w-6"
                                    fill="none"
                                    stroke="currentColor"
                                    role="img"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    aria-labelledby="searchIconTitle">
                                    <title id="searchIconTitle">Search</title>
                                    <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.4121122,14.4121122 L20,20"></path>
                                    <circle fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" cx="10" cy="10" r="6"></circle>
                                </svg>
                            {# </a> #}
                        {% endif %}
                    {% endfor %}
                </span>
                {# <button dir="ltr" class="btn btn-outline rounded" type="button" name="increaseSizeBtn" id="decreasetextsize">-A</button> #}
                {# <button dir="ltr" class="btn btn-outline rounded" type="button" name="decreaseSizeBtn" id="increasetextsize">A+</button>             #}
                {# <div class="hidden">
                    <div class="form-control">
                        <input type="text" placeholder="Search" class="input rounded"/>
                    </div>
                    <select class="select select-bordered">
                        <option disabled selected>Language</option>
                        {% for item in locales %}
                            <option>
                                {{ item.label }}
                            </option>
                        {% endfor %}
                    </select>
                </div> #}
            </div>
        </div>
    </div>
</header>