{% if site.social.showSocialIcons %}
    {% if (page.url != false) %}
        {% if (env.customUrlMode == false) or (env.devMode == true) %}
            {% set pathPrefix = site.sitePath %}
        {% else %}
            {% set pathPrefix = '' %}
        {% endif %}
        {% set fullPath = site.siteUrl + (pathPrefix + page.url).replace("//", "/") %}
        {% set socialTitle = title %}

        <div class="flex justify-center">
            {% for social_icon in collections.social_icons %}
                <a 
                    target="_blank" 
                    rel="noopener noreferrer"
                    aria-label="Share on {{ social_icon.data.name | default('social media') }}" 
                    data-action="{{ social_icon.data.data_action }}" 
                    class="px-1 transition-colors hover:opacity-80" 
                    href="{% buildShareUrl social_icon.data.share_url, fullPath, socialTitle %}">
                    
                    {% set colour = "#374151" %}
                    {% if site.social.useColourForIcons %}
                        {% set colour = social_icon.data.icon_colour %}
                    {% endif %}
                    {% include social_icon.data.icon_partial %}
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}